main div{
    border: 4px solid blue;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 10em 15em );
    grid-gap: 0.5em;
}

.one{
   grid-area: 6/3/7/4;
}
.two{
    grid-area: 1/1/3/2;
}
.three{
    grid-area: 3/1/6/2;
}
.four{
    grid-area: 6/1/7/2;
}
.five{
    grid-area: 2/3/3/4;
}
.six{
    grid-area: 4/2/6/3;
}
.seven{
    grid-area: 1/2/2/3;
}
.eight{
    grid-area: 5/3/6/4;
}
.nine{
    grid-area: 1/3/2/4;
}
.ten{
    grid-area: 3/2/4/3;
}
.eleven{
    grid-area: 6/2/7/3;
}
.twelve{
    grid-area: 3/3/5/4;
}
.thirteen{
    grid-area: 2/2/3/3;
}

/* .odd{
    background: linear-gradient(45deg, yellow 30%, blue 30%, blue 60%, green 35%);
}

.even{
    background: radial-gradient(cyan 30%, tomato 30%, tomato 60%, magenta 35%);
}

.prime{
    background: repeating-linear-gradient(60deg, khaki 30%,  orchid 35% );
} */